@font-face {
    font-family: 'simplon_monoregular';
    src: url('fonts/simplonmono-regular-webfont.woff2') format('woff2'),
        url('fonts/simplonmono-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: 'simplon_monoregular', sans-serif;
}

/* ---- button ---- */
.button {
    display: inline-block;
    padding: 10px 18px;
    margin-bottom: 10px;
    border: none;
    border-radius: 7px;
    color: #222;
    font-family: sans-serif;
    font-size: 16px;
    cursor: pointer;
    font-family: 'simplon_monoregular', sans-serif;
}

.one {
    background: rgb(251, 181, 78);
}

.two {
    background: rgb(152, 255, 175);
}

.three {
    background: rgb(255, 230, 13);
}

.four {
    background: rgb(255, 63, 27);
}

.button:hover {
    background-color: #8CF;
    text-shadow: 0 1px hsla(0, 0%, 100%, 0.5);
    color: #222;
}

.button:active,
.button.is-checked {
    background-color: white;
}

.button.is-checked {
    color: black;
}

.button:active {
    box-shadow: inset 0 1px 10px hsla(0, 0%, 0%, 0.8);
}

/* ---- button-group ---- */
.button-group:after {
    content: '';
    display: block;
    clear: both;
    position: relative;
}

.button-group .button {
    float: left;
    border-radius: 0;
    margin-left: 0;
    margin-right: 1px;
}

.button-group .button:first-child {
    border-radius: 0.5em 0 0 0.5em;
}

.button-group .button:last-child {
    border-radius: 0 0.5em 0.5em 0;
}

.button-group {
    margin-left: 10%;
    padding: 10px;
    position: relative;
}

/* ---- isotope ---- */
/* ---- .element-item ---- */
.element-item {
    position: relative;
    float: left;
    margin: 5px;
    padding: 0px;
    background: #888;
    background-size: 100%;
    color: #262524;
}

.element-item>* {
    margin: 0;
    padding: 0;
}

.element-item .name {
    position: absolute;
    left: 10px;
    top: 60px;
    text-transform: none;
    letter-spacing: 0;
    font-size: 12px;
    font-weight: normal;
}

/* ---- .element-item ---- */
/* ---- .grid-item ---- */
.grid {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    position: absolute;
}

/* clear fix */
.grid:after {
    content: '';
    display: flex;
    clear: both;
}

/* 5 columns, percentage width */
.grid-item,
.grid-sizer {
    width: 49%;
    display: table;
}

.grid-item {
    float: left;
    height: auto;
    position: relative;
    /*absolute**/
}

.grid-item--width2 {
    width: 20%;
    height: -10%
}

.grid-item--height2 {
    height: 200px;
}

.grid-item--width2 {
    width: 100%;
}

/* ---- .grid-item ---- */
img {
    max-width: 100%;
    height: auto;
    display: block;
}

video {
    object-fit: 100%;
    max-width: 100%;
    height: auto;
}

html {
    overflow-y: scroll;
}

.photo:hover {
    box-shadow: 4px 4px 9px rgba(255, 230, 13, 1);
}

.video:hover {
    box-shadow: 4px 4px 9px rgba(152, 255, 175, 1);
}

.animation:hover {
    box-shadow: 4px 4px 9px rgba(255, 63, 27, 1);
}

.graphism:hover {
    box-shadow: 4px 4px 9px rgba(251, 181, 78, 1);
}

.trois-d:hover {
    box-shadow: 4px 4px 9px rgba(255, 230, 13, 1);
}

iframe {
    max-width: 100%;
}

/*--back to top button--*/
#myBtn {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Fixed/sticky position */
    bottom: 20px;
    /* Place the button at the bottom of the page */
    right: 30px;
    /* Place the button 30px from the right */
    z-index: 99;
    /* Make sure it does not overlap */
    border: none;
    /* Remove borders */
    outline: none;
    /* Remove outline */
    background-color: rgba(255, 230, 13, 2);
    /* Set a background color */
    color: black;
    /* Text color */
    cursor: pointer;
    /* Add a mouse pointer on hover */
    padding: 15px;
    /* Some padding */
    border-radius: 10px;
    /* Rounded corners */
    font-size: 18px;
    /* Increase font size */
}

#myBtn:hover {
    box-shadow: 3px 3px 5px rgb(255, 63, 27);
}

/***/
/* The Modal (background) */
.row>.column {
    padding: 0 8px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Create four equal columns that floats next to eachother */
.column {
    float: left;
    width: 25%;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.95);
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 80%;
    display: block;
    max-width: 800px;
    margin-top: 60px;
}

/* Modal Footer */
.modal-footer {
    padding: 15px 16px;
    background-color: rgba(0, 0, 0, 1);
    color: white;
}

/* Add Animation */
.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}

@keyframes zoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

/* The Close Button */
.close {
    color: white;
    position: absolute;
    top: 100px;
    right: 25px;
    font-size: 350%;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* Caption text */
.caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
}

img.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}

img.hover-shadow {
    transition: 0.3s;
}

.text {
    top: 50%;
    left: 50%;
}

.title {
    font-size: 5vh;
}

h5 {
    line-height: 1.6em;
}

.active {
    display: block;
}

.inactive {
    display: none;
}